.profile-photo {
    height: 50px;
    border-radius: 50%;
}

.card-title-visualization {
    /* background-color: rgb(206, 245, 255); */
    /* background-color: rgb(252, 225, 247); */
    background-color: #f1e5bc;
    border-radius: 5%;
}
