<div class="container">

    <div class="row mt-5 mb-2">
        <div class="col-12">
            <div class="card border px-2">
                <div class="title-problem my-1">
                    {{problem.title}}
                </div>
                <span class="text-primary mb-2" *ngFor="let person of persons">
                    <div *ngIf="person.id == problem.person_id">
                        <img class="profile-photo" src="{{person.profile_photo}}" alt="">
                        <span>{{person.name}}</span>
                    </div>
                </span>

                <div class="description-problem my-1">
                    {{problem.description}}
                </div>
            </div>
        </div>
    </div>

    <div class="row my-2 justify-content-end">
        <div class="col-12 col-md-10" *ngFor="let answer of answers">

            <div class="card border my-2 px-2">

                <div class="d-flex">
                    <span class="text-primary" *ngFor="let person of persons">
                        <div class="" *ngIf="person.id == answer.person_id"> 
                            <img class="profile-photo" src="{{person.profile_photo}}" alt="">
                            <span>{{person.name}}</span>
                        </div>
                    </span>
                    <div class="ml-3 pt-2" *ngIf="answer.right_answer">
                        <fa-icon class="text-success" [icon]="faCheck"></fa-icon>
                    </div>
                </div>

                <div class="description-problem my-1">
                    {{answer.answer}}
                </div>

            </div>
        </div>
    </div>

</div>
