<div class="container-fluid">

    <div class="row mt-4 px-3">
        
        <div class="col-12 col-md-4 col-lg-3">

            <div class="row text-center">
                <div class="col-12">
                    <label for="file-input" [ngClass]="{'cursor-pointer': isProjectOwner}" title="Alterar foto do projeto">
                        <img src="{{project!.project_image}}" alt="Foto do projeto" class="project-photo"> 
                    </label>
                    <div *ngIf="isProjectOwner">
                        <input id="file-input" type="file" accept="image/*" [(ngModel)]="newProfilePhoto" (change)="onFileChanged($event)" style="display: none;"/>
                    </div>
                </div>
            </div>

            <div class="row text-center mt-2">
                <!-- *ngFor="let projectMember of projectMembers" -->
                <span class="col-12">
                    <div>
                        <img src="assets/images/user-icon.png" alt="Foto de perfil" class="profile-photo"> <!--// TODO colocar a foto de perfil do dono do projeto-->
                        <span>Criado por Enzo Gabriel</span> <!--// TODO colocar o nome do dono do projeto-->
                    </div>
                </span>
            </div>

        </div>

        <div class="col-12 col-md-8 col-lg-9">
            
            <div class="row my-2">
                <div class="col-12">
                    <label class="mb-0" for="title">Título</label>
                    <input class="form-control" type="text" id="title" [(ngModel)]="project!.title" [disabled]="!isProjectOwner">
                </div>
            </div>

            <div class="row my-2">
                <div class="col-12">
                    <label class="mb-0" for="description">Descrição</label>
                    <textarea class="form-control" id="description" rows="5" [(ngModel)]="project!.description" [disabled]="!isProjectOwner"></textarea>
                </div>
            </div>

            <div class="row my-2">
                <div class="col-12">
                    <label class="mb-0" for="category">Categoria</label>
                    <select class="form-control" name="category" id="category" [(ngModel)]="project!.category_id" [disabled]="!isProjectOwner">
                        <option *ngFor="let c of categories" [ngValue]="c.id">{{c.description}}</option>
                    </select>
                </div>
            </div>

            <div class="row my-2">
                <div class="col-12">
                    <label class="mb-0" for="members">Integrantes</label>
                    <table class="table border" [ngClass]="{'bg-disabled': !isProjectOwner}">
                        <tr *ngFor="let projectMember of projectMembers">
                            <td class="py-1 w-100">Nome do integrante - {{projectMember.person_id}}</td>
                            <td class="py-1" *ngIf="isProjectOwner">
                                <button class="btn btn-danger btn-sm cursor-pointer" title="Remover integrante" (click)="removeProjectMember(projectMember.person_id)">
                                    <fa-icon class="text-light" [icon]="faTrashAlt"></fa-icon>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <span *ngIf="!isProjectOwner && !isProjectMember">
                <div  class="row text-right justify-content-end">
                    <div class="col-12 col-md-7 col-lg-5 col-xl-4">
                        <span class="text-dark ask-to-join" (click)="askToJoinOpened = !askToJoinOpened">Pedir para participar do projeto</span>
                    </div>
                </div>
    
                <span *ngIf="askToJoinOpened">
                    <div class="row mb-2">
                        <div class="col-12">
                            <label class="mb-0" for="member-presentation">Apresentação</label>
                            <textarea class="form-control" id="member-presentation" rows="5" [(ngModel)]="memberPresentation" [disabled]="askToJoinDisabled"></textarea>
                            <small *ngIf="!askToJoinDisabled" class="text-danger m-0">*Mínimo 20 caracteres</small>
                        </div>
                    </div>
                    <div *ngIf="!askToJoinDisabled" class="row mb-2 justify-content-center">
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                            <button *ngIf="!isProjectOwner && !isProjectMember" class="btn btn-primary btn-block" [disabled]="memberPresentation.trim().length < 20" title="Pedir para participar do projeto" (click)="addProjectMember(userId)">Enviar solicitação</button>
                        </div>
                    </div>
                </span>
            </span>

        </div>

    </div>

    <div class="row mt-0 mb-4 px-3 justify-content-center">
        <div class="col-12 col-md-5 col-lg-4 col-xl-3 text-center">
            <button *ngIf="isProjectOwner" class="btn btn-primary btn-block" title="Salvar alterações" (click)="updateProject()">Salvar alterações</button>
            <button *ngIf="!isProjectOwner && isProjectMember" class="btn btn-primary btn-block" title="Sair do projeto" (click)="removeProjectMember(userId)">Sair do projeto</button>
        </div>
    </div>

</div>
