.project-photo img {
    cursor: pointer;
    height: 200px;
    border-radius: 10%;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

@media (max-width: 767px) {
    .form {
        font-size: .8rem;
    }

    .project-photo img {
        height: 120px;
    }
}