<div class="container-fluid form">

    <div class="row mt-4 mb-2 text-center">
        <div class="col-12">
            <h4 class="mb-0">NOVO PROJETO</h4>
            <small class="text-danger">*Todos os campos devem ser preenchidos.</small>
        </div>
    </div>

    <div class="row px-5">

        <div class="col-12 col-md-8">
        
            <div class="row my-2">
                <div class="col-12">
                    <label class="mb-0" for="title">Título</label>
                    <input class="form-control" [ngClass]="{'is-invalid': !isValidTitle}" type="text" id="title" [(ngModel)]="title">
                </div>
            </div>
        
            <div class="row my-2">
                <div class="col-12">
                    <label class="mb-0" for="description">Descrição</label>
                    <textarea class="form-control" [ngClass]="{'is-invalid': !isValidDescription}" id="description" rows="5" [(ngModel)]="description"></textarea>
                </div>
            </div>
        
            <div class="row my-2">
                <div class="col-12">
                    <label class="mb-0" for="category">Categoria</label>
                    <select class="form-control" [ngClass]="{'is-invalid': !isValidCategory}" name="category" id="category" [(ngModel)]="category">
                        <option *ngFor="let c of categories" [ngValue]="c">{{c.description}}</option>
                    </select>
                </div>
            </div>

            <div class="row my-2">
                <div class="col-12">
                    <label class="mb-0" for="category">Situação</label>
                    <select class="form-control" [ngClass]="{'is-invalid': !isValidCategory}" name="category" id="category" [(ngModel)]="projStatus">
                        <option *ngFor="let ps of projectStatus" [ngValue]="ps">{{ps.description}}</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="col-12 col-md-4 mt-md-4">
            <div class="row text-center">
                <div class="col-12">
                    <label for="file-input" class="project-photo" title="Alterar foto do projeto">
                        <img src="{{projectPhoto}}" alt="Foto do projeto"> 
                    </label>
                    <div>
                        <input id="file-input" type="file" accept="image/*" (change)="onFileChanged($event)" style="display: none;"/>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-5 mb-2">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-6 col-md-5 col-lg-4 col-xl-3 text-center">
                    <button class="btn btn-primary btn-block" (click)="projectRegistration()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #template></ng-template>
<ngx-loading [show]="loading" [config]="loadingConfig" [template]="template"></ngx-loading>
