.new-project {
    cursor: pointer;
    text-decoration: underline;
}

.new-project:hover {
    font-weight: bold;
}

.card-project {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 5%;
}

.card-project img {
    width: 300px;
    height: 300px;
    border-radius: 5%;
}
  
.card-project-image {
    position: absolute;
    /* top: 0;
    left: 0; */
    opacity: 0.9;
}

.card-project-body {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 0% 0% 5% 5%;
}

.card-project-text {
    font-size: 1.3rem;
    font-weight: bold;
}