<div class="justify-content-center my-3">
    
    <div class="row" mat-dialog-content>
        <div class="col-12 mt-1 mx-0 px-0">
            <label for="email" class="m-0">E-mail para recuperação de senha</label>
            <div class="input-group">
                <input class="form-control" id="email" type="email" [(ngModel)]="email">
            </div>
        </div>
    </div>

    <div class="row mt-2" mat-dialog-actions>
        <div class="col-12">
            <button class="btn btn-block btn-primary" mat-button (click)="forgotPassword()" cdkFocusInitial>Enviar</button>
        </div>
    </div>

</div>