.div-profile-photo {
    cursor: pointer;
}

.div-profile-photo img {
    height: 40px;
    border-radius: 50%;
    /* transform: translateY(-3px); */
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    font-weight: bold;
}

.open-profile-options {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    width: 160px;
    /* padding-top: 4px; */
    /* padding-bottom: 4px; */
    /* margin-top: 2px; */
    /* list-style: none; */
    /* background-color: var(--color-bg-overlay); */
    /* background-clip: padding-box; */
    border: 1px solid var(--color-border-overlay);
    border-radius: 6px;
    /* box-shadow: var(--color-dropdown-shadow); */
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.password-visibility {
    cursor: pointer;
}

.card {
    background-color: #e8e8e8;
    border-radius: 5%;
}

.card-answer {
    background-color: rgb(206, 245, 255);
}

.title-problem {
    font-weight: bold;
    font-size: 1.2rem;
}

.description-problem {
    font-size: .9rem;
    color: rgb(97, 95, 95);
}