.app-nav {
    background-color: #2543b0;
}

.btn-login {
    border: 1;
    border-color: white;
    color: white;
    /* border-color: #da3540;
    color: #da3540; */
}

.btn-login:hover {
    background-color: white;
    color: #2543b0;
    /* background-color: #da3540;
    color: white; */
}

.div-profile-photo {
    cursor: pointer;
}

.div-profile-photo img {
    height: 40px;
    border-radius: 50%;
    /* transform: translateY(-3px); */
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.cursor-pointer {
    cursor: pointer;
}

.bold-hover:hover {
    font-weight: bold;
}

.jump-hover:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);    
}

.open-profile-options {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    width: 175px;
    border-radius: 6px;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.password-visibility {
    cursor: pointer;
}

.bg-disabled {
    background-color: #e9ecef;
    opacity: 1;
}

footer img {
    height: 200px;
}

.approval-icons button {
    min-width: 42px;
}

.btn-reject {
    border-color: #da3540;
    color: #da3540;
}

.btn-reject:hover {
    background-color: #da3540;
    color: white;
}

.btn-approve {
    border-color: green;
    color: green;
}

.btn-approve:hover {
    background-color: green;
    color: white;
}

@media screen and (max-width: 991px) {

    footer img {
        height: 100px;
    }

}




