<header id="header">

    <nav class="navbar navbar-dark bg-primary">

        <div class="d-flex">
            <ul class="navbar-nav mr-2 mr-md-5">
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'active': clicked == 'problems'}" (click)="clicked='problems'" routerLink="/problems" routerLinkActive="ative">Problemas</a>
                </li>
            </ul>
    
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': clicked == 'projects'}" (click)="clicked='projects'" routerLink="/projects" routerLinkActive="ative">Projetos</a>
                </li>
            </ul>
        </div>

        <!-- <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-basic">
    Button dropdown <span class="caret"></span>
    </button> -->

        <!-- <div>
            <button *ngIf="!userId" class="btn btn-primary" (click)="login()">Login</button>
            <div *ngIf="userId" class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                <div *ngIf="userId" class="div-profile-photo" (click)="openOptions=!openOptions" dropdownToggle>
                    <img src="{{profilePhoto}}" alt="Foto de perfil"> 
                    <mat-icon class="text-light" aria-hidden="false" aria-label="Seta para baixo">arrow_drop_down</mat-icon>
                </div>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div> -->


        <div>
            <button *ngIf="!userId" class="btn btn-login" (click)="login()">Login</button>
            <div *ngIf="userId" class="div-profile-photo" (click)="openOptions=!openOptions">
                <img src="{{profilePhoto}}" alt="Foto de perfil"> 
                <mat-icon class="text-light" aria-hidden="false" aria-label="Seta para baixo">arrow_drop_down</mat-icon>
            </div>
        </div>

        <div class="open-profile-options" *ngIf="openOptions">
            <p class="cursor-pointer bold-hover dropdown-item mb-0" routerLink="/sign-up" routerLinkActive="ative">Alterar cadastro</p>
            <p class="cursor-pointer bold-hover dropdown-item mb-0" (click)="logout()">Sair</p>
        </div>

    </nav>

</header>

<div [ngStyle]="{'min-height.px': clientHeight}">
    <router-outlet></router-outlet>
</div>

<div class="container-fluid" id="footer">
    <footer class="text-light bg-dark row py-3">
        <div class="col-6 col-lg-4 text-center">
            <img src="assets/images/logo-ucs.png" alt="Logo UCS">
        </div>
        <div class="d-none d-lg-block col-lg-4">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, veniam nisi. Nihil debitis perspiciatis nulla perferendis voluptates molestias facere mollitia provident! Accusantium sequi fuga perspiciatis debitis corporis molestias quas deleniti? -->
        </div>
        <div class="col-6 col-lg-4 text-center">
            <img src="assets/images/logo-fucs.png" alt="Logo FUCS">
        </div>
    </footer>
</div>

