<header>

    <nav class="navbar navbar-dark bg-dark">

        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/signup" routerLinkActive="ative">Problemas</a> // TODO mudar routerLink
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/signup" routerLinkActive="ative">Projetos</a> // TODO mudar routerLink
            </li>
        </ul>


        Imagem usuário

    </nav>

</header>


<router-outlet></router-outlet>
