.new-problem {
    cursor: pointer;
    text-decoration: underline;
}

.new-problem:hover {
    text-decoration: underline;
    font-weight: bold;
}

.card-problem {
    background-color: #e8e8e8;
    border-radius: 5%;
}

.title-problem {
    font-weight: bold;
    font-size: 1.2rem;
}

.description-problem {
    font-size: .9rem;
    color: rgb(97, 95, 95);
}

.number-answers-problem {
    font-size: 0.8rem;
}
