.profile-photo img {
    cursor: pointer;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

@media (max-width: 767px) {

    .form {
        font-size: .8rem;
    }

    .profile-photo img {
        height: 80px;
    }
}