<div class="container">

    <div class="row pt-4">

        <div class="col-2 d-none d-md-block"></div>

        <div class="col-9 col-md-6 pr-3 form">

            <div class="row my-2 text-center">
                <div class="col-12">
                    <h4 class="mb-0">REGISTRE-SE</h4>
                    <small class="text-danger">*Todos os campos devem ser preenchidos.</small>
                </div>
            </div>
    
            <div class="row mt-4">
                <div class="col-12">
                    <label class="m-0" for="personType">Pessoa Física ou Jurídica?</label>
                </div>
            </div>
    
            <div class="row">
                <div class="col-12">
                    <div class="custom-control custom-radio custom-control-inline mr-5">
                        <input class="custom-control-input" type="radio" name="person-type" id="physical-person" [(ngModel)]="personType" [value]="1">
                        <label class="custom-control-label" for="physical-person">Física</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline ml-5">
                        <input class="custom-control-input" type="radio" name="person-type" id="legal-person" [(ngModel)]="personType" [value]="2">
                        <label class="custom-control-label" for="legal-person">Jurídica</label>
                    </div>
                </div>
            </div>

            <div class="mt-2" *ngIf="personType > 0">

                <div class="row">
                    <div class="col-12">
                        <label class="m-0" for="name"><span *ngIf="personType==1">Nome</span><span *ngIf="personType==2">Razão Social</span></label>
                        <div class="input-group">
                            <input class="form-control text-uppercase" [ngClass]="{'is-invalid': !validName}" type="text" [(ngModel)]="name">
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <label *ngIf="personType==1" for="cpf" class="m-0">CPF</label>
                        <label *ngIf="personType==2" for="cnpj" class="m-0">CNPJ</label>
                        <div class="input-group">
                            <input class="form-control" [ngClass]="{'is-invalid': !validCpfCnpj}" *ngIf="personType==1" id="cpf" type="text" [(ngModel)]="cpf" mask="000.000.000-00">
                            <input class="form-control" [ngClass]="{'is-invalid': !validCpfCnpj}" *ngIf="personType==2" id="cnpj" type="text" [(ngModel)]="cnpj" mask="00.000.000/0000-00">
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <label for="email" class="m-0">E-mail</label>
                        <div class="input-group">
                            <input class="form-control text-lowercase" [ngClass]="{'is-invalid': !validEmail}" id="email" type="email" [(ngModel)]="email">
                            <!-- <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <label for="password" class="m-0">Senha</label>
                        <div class="input-group">
                            <input class="form-control m-0" [ngClass]="{'is-invalid': !validPassword}" id="password" type="password" [(ngModel)]="password" matInput showHideInput>
                            <div class="input-group-prepend password-visibility">
                                <i class="material-icons input-group-text" matSuffix showHideTrigger="password" [showHideStatus]="{ materialIcon: true, id: 'password' }"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <label for="password-confirm" class="m-0">Confirmar Senha</label>
                        <div class="input-group">
                            <input class="form-control m-0" [ngClass]="{'is-invalid': !validPasswordConfim}" id="password-confirm" type="password" [(ngModel)]="passwordConfirm" matInput showHideInput>
                            <div class="input-group-prepend password-visibility">
                                <i class="material-icons input-group-text" matSuffix showHideTrigger="password-confirm" [showHideStatus]="{ materialIcon: true, id: 'password-confirm' }"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4 justify-content-center">
                    <div class="col-6 text-center">
                        <button class="btn btn-primary btn-block" (click)="signUp()"> 
                            <span *ngIf="userId">Salvar</span> 
                            <span *ngIf="!userId">Cadastrar</span>
                        </button>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-3 col-md-4 mt-5">
            <div class="row justify-content-center">
                <label for="file-input" class="profile-photo" title="Alterar foto de perfil">
                    <img src="{{profilePhoto}}" *ngIf="userId" alt="Foto de perfil"> 
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" *ngIf="!userId" alt="Foto de perfil"> 
                </label>
                <div>
                    <input id="file-input" type="file" [(ngModel)]="newProfilePhoto" (change)="onFileChanged($event)" style="display: none;"/>
                </div>
            </div>
        </div>


    </div>

</div>